// Canvas Dependencies //

@import "dependencies/bootstrap.scss";
@import "dependencies/style.scss";
@import "dependencies/swiper.scss";
@import "../css/font-icons";
@import "dependencies/animate.scss";
@import "dependencies/responsive.scss";
@import "dependencies/navbar.scss";
@import "dependencies/footer.scss";
@import "dependencies/phone-slug.scss";
@import "dependencies/contact-modal.scss";
@import "dependencies/specials.scss";
@import "dependencies/location-section.scss";
@import "dependencies/slides.scss";
@import "dependencies/meet-the-team.scss";
@import "dependencies/reviews.scss";
@import "dependencies/office-tour.scss";
@import "dependencies/services.scss";
@import "dependencies/service-modal.scss";

// End Canvas Dependencies //


// Variables to define first //

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$third-font: 'Roboto Condensed', sans-serif;
$button-color: orange;
$button-hover:gray;

// CSS //

body {
  font-family:$primary-font;
}

h1 {
  font-size:76px;
}

h2 {
  font-size:48px;
}

h3 {
  font-size:36px;
}

h4 {
  font-size:28px;
}

h5 {
  font-size:24px;
}

h6 {
  font-size:20px;
}

p {
  font-size:18px;
}

.button {
  padding-top:2px;
  margin-left:0;
  margin-right:0;
  /* Rectangle 3: */
  background-image: radial-gradient(50% 228%, #FDA647 1%, #FA6D22 100%);
  border: 2px solid #FFFFFF;
  box-shadow: 3px 3px 14px 0 rgba(0,0,0,0.15);
  border-radius: 8px;
  font-family:'Lato', sans-serif;
  font-size:17px;
  text-decoration:uppercase;
}
.button:hover {
  background:$button-hover
}
.content-wrap {
  padding:0;
}
.form-control {
  font-size:16px !important;
}