
/** CONTACT **/

$p-color: #6F6D6A;
$click-map-color:#846A20;


#contact-form-overlay-mini {
  padding-top:15px;
  padding-bottom:15px;
  float:left;
}
#contact img {
  margin-bottom:20px;
}
#contact p {
  color:$p-color;
  font-size:16px;
  line-height:21px;
}

#contact .click-map  {
  color:$click-map-color;
  margin-top:-5px;
  font-size:16px;
  text-decoration:underline;
}
#contact .text-phone-1 {
  font-size: 36px;
  font-weight:900;
  font-family: 'Lato', sans-serif;
  color: #CBA357;
  margin-bottom:20px;
}
.device-xxs #contact .text-phone-1 {
  font-size:26px;
}
.device-xxs #contact .text-phone-2 {
  font-size:23px;
}
.device-xxs #contact .button {
  font-size:16px;
  width:100%;
  padding-left:15px;
  padding-right:15px;
}

#contact .text-phone-2 {
  font-size: 26px;
  font-weight:900;
  font-family: 'Lato', sans-serif;
  color: #CBA357;
}
.patient-hotline {
  margin-bottom:7px;
}
#contact .button {
  width:100%;
  letter-spacing:0;
  font-size:18px;
  margin-bottom:20px;
  padding-top:2px;
}
#contact-form-overlay-mini > div:nth-child(2) > a.click-map:hover {
  color:#846A20;
}
#contact-form-overlay-mini {
  border-radius: 12px;
}
#contact-form-overlay-mini > div:nth-child(2) > a:nth-child(5):hover, #contact-form-overlay-mini > div:nth-child(2) > a:nth-child(8):hover {
  text-decoration:none;
}
#contact {
  max-height:600px;
}
.device-xxs #contact-form-overlay-mini {
  padding-left:15px;
  padding-right:15px;
}
.device-xs #contact-form-overlay-mini, .device-xxs #contact-form-overlay-mini {
  box-shadow:none;
}
#google-map {
  height:100%;
  border-bottom:5px solid #FFF;
}

#contact {
  p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #222222;
    line-height: 25px;
    font-weight:400;
  }
  .p-1 {
    margin-bottom:20px;
  }
  .p-2 a {
    font-size:16px;
    color:#4264B1;
    text-decoration:underline;
  }
  .p-2 {
    margin-bottom:20px;
  }
  .p-3 {
    color:#638EEB;
    font-size:17px;
    font-family: 'Open Sans',sans-serif;
    margin-bottom:10px;
  }
  .p-4 {
    margin-bottom:20px;
  }
  .p-4 a {
    font-family: 'Merriweather', sans-serif;
    font-weight:700;
    font-size: 36px;
    color: #304BA0;
    &:hover {
      text-decoration:none;
    }
  }
  .p-5 {
    font-family:'Open Sans', sans-serif;
    font-size:17px;
    color:#638EEB;
    margin-bottom:30px;
    a {
      font-weight:900;
      font-family:'Lato', sans-serif;
      color:#638EEB;
      &:hover {
        text-decoration:none;
      }
    }
  }
  .office-hours {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: #304BA0;
    letter-spacing: 0;
    line-height: 25px;
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:10px;
  }
  .hour {
    margin-bottom:3px;
    text-align:left;
    font-family: 'Lato', sans-serif;
    font-size:18px;
  }
  .col-xs-4 {
    margin-left:15px;
  }

  .col-xs-8 {
    margin-left:11px;
  }

}

#contact {
  max-height:750px;
  height:750px !important;
  .button {
    font-size:18px;
    text-align:center;
    padding-left:30px;
    padding-right:30px;
  }
}

.device-xxs {
  #contact {
    .p-4 a {
      font-size:32px;
    }
    .p-5 {
      font-size:16px;
    }
    .hour {
      font-size:16px;
    }
  }
}

#contact-form-overlay-mini {
  border-radius:3px;
}

#contact {
  @media (max-width:991px) {
    background:#FFF;
  }
}