#meet-the-doctor h3 {
  font-size:32px;
  font-weight:700;
  color:#FCDF53;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  margin-bottom:-10px;
}
#meet-the-doctor h2 {
  font-size:64px;
  color:#FFF6CD;
  margin-bottom:-5px;
  font-weight:900;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
#meet-the-doctor h4 {
  font-weight:700;
  font-size: 28px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  margin-bottom:40px;
}
#meet-the-doctor {
  padding:60px 0;
  background-image:url('../images/zandstra-bio.jpg');
  background-size:cover;
  backround-position:0% 0%;
}

#meet-the-doctor p {
  font-size:12px;
  color:#312400;
  margin-bottom:20px;
}
#meet-the-doctor-mobile h2 {
  /* Dr. Estelle Zandstra: */
  font-family: 'Lato', sans-serif;
  font-weight:900;
  font-size: 57.59px;
  color: #FFF6CD;
  margin-bottom:0;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

#meet-the-doctor-mobile {
  padding:30px 0;
  background-image:url('../images/zandstra-bio-bkgd-mobile.jpg');
  background-size:cover;
}

#meet-the-doctor-mobile h4 {
  font-family: 'Lato', sans-serif;
  font-weight:900;
  font-size: 25.2px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

#meet-the-doctor-mobile p {
  /* By combining advance: */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #312400;
  line-height:22px;
}

.device-xs #meet-the-doctor-mobile img, .device-xxs #meet-the-doctor-mobile img {
  margin-bottom:20px;
}

.device-xs #meet-the-doctor-mobile h2 {
  font-size:36px;
}

.device-xs #meet-the-doctor-mobile h4 {
  font-size:23px;
}

.device-xxs #meet-the-doctor-mobile h2 {
  font-size:30px;
}

.device-xxs #meet-the-doctor-mobile h4 {
  font-size:18px;
}

#meet-the-doctor > div > div > div.col-sm-8 {
  postion:relative;
  left:5%;
}
.device-md #meet-the-doctor {
  background-position-x:25%;
}