.navbar li > a {
  color:#727272;
  font-family: 'Lato', sans-serif;
  font-size:16px;
}
.navbar > li:nth-child(1) > a {
  font-weight:700;
  color:#FA6D22;
}
.navbar > li:nth-child(2) > a {
  font-weight:700;
  color:#4264B1;
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
  padding-top:39px;
  padding-bottom:39px;
}

#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height:100px;
}

#header-wrap {
  border-bottom:2px solid #979797;
  height:102px;
}

.device-md .navbar li a {
  padding-left:10px;
  padding-right:10px;
  font-size:15px;
  @media screen and (max-width:1100px) {
    font-size:14px;
    padding-left:7px;
    padding-right:7px;
  }

}

#header.full-header #logo {
    padding-right:10px;
    margin-right:0;
}

#logo img {
  padding-top:2px;
  padding-bottom:2px;
  @media screen and (max-width:1080px) {
    padding-top:10px;
    padding-bottom:10px;
  }
  @media screen and (max-width:991px) {
    padding-top:2px;
    padding-bottom:2px;
  }
}

#primary-menu-trigger {
  color:#4264B1;
  font-size:28px;
  position:absolute;
  right:0;
  left:0;
}
ul.mobile-primary-menu  {
  padding:15px !important;
}