#office-tour h3 {
  color:#3C4109;
  font-weight:700;
  font-size:32px;
}

#office-tour {
  border-top:3px solid #FFE76B;
  border-bottom:3px solid #FFE76B;
  padding:50px 0;
  background-image: linear-gradient(-180deg, #F2F2F2 0%, #CDBC7B 100%);
}

#office-tour p {
  font-size:16px;
  color:#000;
  font-family:'Open Sans', sans-serif;
}

#office-tour > div > div.row > div:nth-child(1) {
  margin-top:100px;
}

#office-tour-modal > div {
  background:none !important;
}

.owl-carousel .owl-dots {
  display:none;
}

#oc-slider > div.owl-nav > div.owl-prev {
  left:-18px;
}

#oc-slider > div.owl-nav > div.owl-next {
  right:-18px;
}
.owl-prev, .owl-next {
  opacity:1 !important;
}
.owl-carousel .owl-nav [class*=owl-]:hover {
  background:#3C4109 !important;
}
.device-xs #office-tour h3, .device-xxs #office-tour h3 {
  margin-bottom:-75px;
}
.device-xs #office-tour .button, .device-xxs #office-tour .button {
  margin-bottom:20px;
}

.device-md #office-tour > div > div.row > div:nth-child(1), .device-lg #office-tour > div > div.row > div:nth-child(1) {
  margin-top:75px;
}
.device-sm #office-tour > div > div.row > div:nth-child(1) {
  margin-top:0;
}