#services {
  padding:0;
  background:#4264B1;
  h2 {
    font-family: 'Lato', sans-serif;
    font-weight:900;
    padding-top:50px;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  }
  h3 {
    font-family: 'Merriweather', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight:400;
    margin-top:30px;
    margin-bottom:20px;
  }
  p {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight:400;
    line-height:24px;
    a {
      color:#80D4FF;
      text-decoration:underline;
    }
  }
  img {
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 14px 0 rgba(0,0,0,0.50);
  }
}

#services-carousel {
  background:none;
  .owl-carousel {
    position:relative;
  }
  @media screen and (max-width:991px) {
    height:180px !important;
  }
  @media screen and (max-width:767px) {
    height:160px !important;
  }
  @media screen and (max-width:479px) {
    height:250px !important;
  }
  h5 {
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
    color: #4264B1;
  }
  img {
    &:hover {
      cursor:pointer;
    }
  }
}

.device-md {
  #services {
    h3 {
      font-size:32px;
    }
  }
}

.device-sm #services h3 {
  line-height:46px;
}

.device-xxs #services h3 {
  font-size:28px;
}
.mask {
  background:linear-gradient(-180deg, #FFFFFF 3%, #ADD6E9 100%);
  transform:rotate(180deg);
  width:100%;
  position:absolute;
  height:1050px;
  bottom:750px;
  @media (max-width:1200px) {
    height:950px;
  }
  @media(max-width:991px) {
    height:1000px;
  }
  @media (max-width:767px) {
    height:2100px;
  }
  @media (max-width:700px) {
    height:2050px;
  }
  @media (max-width:600px) {
    height:2000px;
  }
  @media (max-width:400px) {
    height:1950px;
  }
}

#services > div > div.container > div.row > div:nth-child(2) > p, #services > div > div.container > div.row > div:nth-child(1) > p {
  color:#000;
}

#services > div > div.container > div.row > div:nth-child(2) > h3, #services > div > div.container > div.row > div:nth-child(1) > h3 {
  color:#4264B1;
}

.device-sm {
  #services {
    padding-bottom:180px;
  }
}
.device-xs #services {
  padding-bottom:140px;
}

.device-xxs #services {
  padding-bottom:125px;
}