#slide-1 {
  background-position:0% 0%;
  h1 {
    font-size:76px;
    font-weight:700;
    font-style:italic;
    font-family:'Merriweather', sans-serif;
    color:#75A2F0;
    margin-bottom:5px;
  }
  h2 {
    font-size:64px;
    font-weight:400;
    font-family:'Merriweather', sans-serif;
    color:#75A2F0;
    margin-bottom:10px;
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:31px;
    color:#304BA0;
    margin-bottom:20px;
  }
}