#slide-1, #slide-2 {
  background-position:0% 0%;
  background-size:cover;
}

#slide-1 {
  @media screen and (max-width:1400px) and (min-width:1201px) {
    background-position-x:100%;
  }

}

#slide-3 {
  background-size:cover;
}
#slide-1 h2 {
  color: #FCDF53;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  font-weight:400;
  margin-bottom:-5px;
  font-size:48px;

}
#slide-1 h1 {
  font-weight:900;
  color:#FFF6CD;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  margin-bottom:60px;
}
#slide-1 h4 {
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  font-weight:700;
  margin-bottom:15px;
}
.icon-star3 {
  color: #F5E82E;
  text-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  font-size:32px;
}

#slide-2 h2 {
  font-size:64px;
  font-weight:900;
  color:#FFF6CD;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

#slide-2  .slider-caption.slider-caption-right {
  top:190px !important;
}
#slide-2 p {
  font-size:28px;
  font-weight:700;
  font-family: 'Lato', sans-serif;
  margin-bottom:30px;
}

#slide-3 h2 {
  font-size:64px;
  font-weight:900;
  color:#FFF6CD;
  margin-bottom:100px;
}
.device-lg #slide-2 .slider-caption {
  top:200px !important;
}
#slide-3 .star-set {
  margin-bottom:20px;
  font-size:36px;
}

#slide-3 h4 {
  font-weight:700;
  font-size: 28px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
#slide-1 .slider-caption.slider-caption-right {
  right:inherit;
}
@media (max-width:1450px) and (min-width:1300px) {
  #slide-2 .slider-caption.slider-caption-right {
    right:-75px;
  };
}

@media (max-width:1299px) {
  #slide-2 h2 {
    font-size: 48px;
  }
  #slide-2 p {
    font-size: 24px;
  }
  #slide-2 .slider-caption.slider-caption-right {
    right:0;
  }
  .device-lg #slide-2 .slider-caption {
    padding-left:90px;
    top:150px !important;
  }
}

.device-lg #slide-1, .device-md #slide-1, .device-sm #slide-1 {
  background-image:url('../images/slide1.jpg');
  background-size:cover;
}

.device-lg #slide-2, .device-md #slide-2, .device-sm #slide-2 {
  background-image:url('../images/slide2.jpg');
  background-size:cover;

}

.device-lg #slide-3, .device-md #slide-3, .device-sm #slide-3 {
  background-image:url('../images/slide3.jpg');
  background-size:cover;

}

.device-xs #slide-1, .device-xxs #slide-1 {
  background-size:cover;
  background-image:url('../images/slide1-mobile.jpg');
}

.device-xs #slide-2, .device-xxs #slide-2 {
  background-size:cover;
  background-image:url('../images/slide2-mobile.jpg');
}

.device-xs #slide-3, .device-xxs #slide-3 {
  background-size:cover;
  background-image:url('../images/slide3-mobile.jpg');
}
.device-md #slide-2 {
  background-position-x:65%;
}

.device-sm #slide-2 {
  background-position-x:70%;
}
.device-sm #slide-3 {
  background-position-x:30% !important;
}

.device-xs #slide-1 h2, .device-xxs #slide-1 h2 {
  font-size:20px;
}
.device-xxs #slide-1 h2 {
  text-align:left !important;
}

.device-xs #slide-1 h1, .device-xxs #slide-1 h1 {
  font-size:24px;
}
.device-xs #slide-1 h4, .device-xxs #slide-1 h4 {
  font-size:16px;
}

.device-xs #slide-1 > div > div, .device-xxs #slide-1 > div > div {
  margin-top:15px;
}

.device-xxs #slide-1 > div > div {
  left:-20px;
}

.device-xxs #slide-1 h1 {
  margin-bottom:10px;
}

@media (max-width:767px) {

  #top-social, #slider:not(.swiper_wrapper) .slider-caption, .nivo-caption, .flex-caption, .slider-caption p, .slider-caption .button, .camera_caption, .ei-title, .slider-arrow-top-sm, .slider-arrow-bottom-sm {
    display: inherit !important;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }

}

.device-xxs #slide-1 .button {
  line-height:21px;
  padding-left:10px;
  padding-right:10px;
  font-size:16px;
  height:30px;
}
.device-xxs #slide-1 h4 {
  margin-bottom:5px;
}

.device-xs .icon-star3, .device-xxs .icon-star3 {
  font-size:20px;
}
.device-xs #slide-2 > div > div > div.star-set.fadeInUp.animated, .device-xxs #slide-2 > div > div > div.star-set.fadeInUp.animated {
  text-align:right !important;
}
.device-xs #slide-2 .slider-caption, .device-xxs #slide-2 .slider-caption {
  margin-top:-135px;
}
.device-xxs #slide-2 .slider-caption {
  margin-top:-150px;
  margin-right:-5%;
}

.device-xs #slide-2 > div > div > h2, .device-xxs #slide-2 > div > div > h2 {
  text-align:right !important;
  font-size:22px;
}

.device-xs #slide-2 > div > div > p, .device-xxs #slide-2 > div > div > p {
  text-align:right !important;
  margin-top:10px;
  padding-left:230px;
  padding-right:0;
  margin-bottom:10px;
  font-size:16px;
  line-height:21px !important;
}
.device-xs #slide-2 .button, .device-xxs #slide-2 .button {
  padding-left:20px;
  padding-right:20px;
  font-size:14px;
  width:100%;
}
.device-xs #slide-2 .btn-wrap, .device-xxs #slide-2 .btn-wrap {
  float:right;
}

.device-xxs #slide-2 > div > div > h2 {
  font-size:20px;
  text-align:right !important;
  margin-bottom:15px !important;
}

.device-xxs #slide-2 > div > div > p {
  display:none !important;
}

.device-xs #slide-3 h2 {
  text-align:left !important;
  font-size:24px;
}

.device-xxs #slide-3 h2 {
  font-size:22px;
  text-align:left !important;
}
.device-xs #slide-3 .star-set, .device-xxs #slide-3 .star-set {
  text-align:left !important;
  margin-bottom:-5px;
  margin-top:10px;
}
.device-xs #slide-3 h4, .device-xxs #slide-3 h4 {
  text-align:left !important;
  padding-right:165px;
}
.device-xs #slide-3 .button, .device-xxs #slide-3 .button {
  float:left;
}
.device-xxs #slide-3 .button {
  line-height:27px;
  height:35px;
  margin-left:0;
}

.device-xs #slide-3 .slider-caption, .device-xxs #slide-3 .slider-caption {
  #slide-3 {
    margin-top:20px;
  }
}

.device-xs #slide-3 h4 {
  padding-right:250px;
  font-size:16px;
  margin:10px 0;
}

.device-xxs #slide-3 h4 {
  padding-right:150px;
  font-size:18px;
  margin-top:5px;
  margin-bottom:0;
}

.device-xxs #slide-1 > div > div > h2 {
  font-size:20px;
  text-align:left !important;
}
.device-xxs #slide-1 h1 {
  font-size:22px;
}

.device-xxs #logo img {
  margin-left:-15%;
}
.device-xxs #primary-menu-trigger {
  margin-right:-10%;
}

@media (max-width:350px) {
  .device-xxs #logo img {
    margin-left:-5%;
  }
  .device-xxs #primary-menu-trigger {
    margin-right:-2%;
  }
  .device-xxs #slide-1 > div > div {
    left:5px !important;
  }
  .device-xxs #slide-2 .slider-caption {
    margin-right:5px !important;
  }
  .device-xxs #slide-3 .slider-caption {
    margin-left:-10px !important;
  }
}

.device-xxs #slide-3 .slider-caption {
  margin-left:-10%;
}
.device-xxs #slide-3 h4 {
  font-size:12px;
  line-height:18px !important;
}

.device-xxs #slide-3 .icon-star3 {
  font-size:16px;
}


.device-xxs .btn-2 {
  display:none !important;
}

.device-md #slide-1, .device-sm #slide-1 {
  background-position-x:25%;
}

.device-md #slide-2, .device-sm #slide-2 {
  background-position-x:66% !important;
}

.device-xs #slide-3 .slider-caption {
  left:-10%;
}

.device-xs #slide-1 > div > div {
  left:-10%;
}



#slider, .swiper-slide {
  max-height:700px;
}
#slide-1.swiper-slide {
  background-position:100% 100% !important;
  @media screen and (max-width:1460px) and (min-width:992px) {
    .slider-caption {
      background:rgba(255,255,255,.5);
      padding:15px;
      margin-top:175px;
    }
    h1 {
      margin-bottom:10px;
    }
  }
  @media screen and (max-width:991px) and (min-width:768px) {
    .slider-caption {
      background:rgba(255,255,255,.7);
      padding:15px;
      margin-top:175px;
      h1 {
        margin-bottom:10px;
        font-size:50px;
      }
      h2 {
        font-size:36px;
      }
      h4 {
        font-size:24px;
      }
    }
  }
}

#slide-2.swiper-slide {
  @media screen and (max-width:1199px) and (min-width:768px) {
    background-position:0% 0% !important;
    .slider-caption {
      background:rgba(255,255,255,.5);
      margin-top:-125px;
      padding:5px;
      width:40% !important;
      h2 {
        font-size:36px;
      }
      p {
        font-size:18px;
        text-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
  @media screen and (max-width:991px) {
    .slider-caption {
      margin-top:-140px;
    }
  }

}

#slide-3.swiper-slide {
  @media screen and (max-width:1199px) and (min-width:768px) {
    background-position:100% 100% !important;
    .slider-caption {
      background:rgba(255,255,255,.5);
      padding:15px;
      margin-top:150px;
      width:400px;
      h2 {
        text-align:left !important;
        font-size:36px;
        margin-bottom:20px;
        text-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
      }
      h4 {
        font-size:24px;
        text-align:left !important;
      }
      .center {
        text-align:left !important;
      }
    }
  }
}

#slide-1.swiper-slide {
  @media screen and (max-width:767px) {
    background-position:0% 0% !important;
  }
}
