#specials-below {
  border-top:3px solid #FFE66B;
  border-bottom:3px solid #FFE66B;
  background:#EDE7D0;
  padding:20px 0;
  @media (max-width:767px) {
    padding-bottom:0px;
  }
}
#specials-below h6 {
  font-size:17px;
  color:#3C4109;
  font-family:'Open Sans', sans-serif;
  font-weight:400;
  line-height:10px;
  margin-bottom:0;
}

#specials-below .new-hotline a {
  color:#3C4109;
  font-size:36px;
  font-family:'Lato', sans-serif;
  font-weight:900;

}
#specials-below .old-hotline {
  font-family:'Open Sans', sans-serif;
  font-size:17px;
}

#specials-below .old-hotline a {
  font-size:20px;
  font-weight:900;
  font-family:'Lato', sans-serif;
  color:#3C4109;
  margin-top:-10px;
}


#specials-below .new-hotline a:hover, #specials-below .old-hotline a:hover {
  text-decoration:none !important;
}