/** SPECIALS **/

$section-background:gray;
$h2-color: #674C12;
$specials-1-color: #E59908;
$specials-2-color: #106547;
$specials-3-color: #52A3BF;
$save-font-family:'Lato', sans-serif;
$p-color: red;


.section-specials {
  padding-top:50px;
  padding-bottom:20px;
  background:url('../images/winn-specials-BG.jpg');
  background-attachment:fixed;
  background-size:cover;

}
.section-specials h2 {
  font-family: 'Lato', sans-serif;
  font-weight:900;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.specials-1 {
  background: #F6A826;
  color:#F6A826;
}
.specials-1.specials-circle {
  background: #F6A826;
}
.specials-2 {
  background: #9AAD37;
  color:#9AAD37;
}
.specials-2.specials-circle {
  background: #9AAD37;
}

.specials-3 {
  background: #6493D4;
  color: #6493D4;
}
.specials-3.specials-circle {
  background: #6493D4;
}
.specials-row h5 {
  font-size:36px;
  color:#FFF;
  font-weight:900;
  line-height:40px !important;
  font-family:'Lato',sans-serif;

}
.specials-row p {
  color:#999999;
  font-size:18px;
  margin-bottom:0px;
  line-height:25px !important;
  margin-top:20px;
  margin-bottom:10px;
  font-family:'Open Sans', sans-serif;
}
.specials-label {
  font-size:16px;
  color:#999;
  font-family:'Merriweather', sans-serif;
}
.specials-save {
  font-size:18px;
  text-transform:uppercase;
  background:none;
  font-family:$save-font-family;
  font-weight:400;
  font-family:'Lato', sans-serif;
}
.section-specials .col-md-4 {
  border-radius:8px;
  padding:0;
  margin-left:20px;
  margin-right:20px;
  padding-bottom:20px;
  background:rgba(255,255,255,.9);
  margin-bottom:50px;
}
.section-specials .container {
  padding-left:0;
  padding-right:0;
}
.specials-row {
  display:flex;
  text-align:center;
}
.specials-top {
  height:196px;
  padding-top:15px;
  border-radius:8px 8px 0px 0px;
}
.specials-circle {
  position:relative;
  border:7px solid #FFF;
  width:146px;
  height:146px;
  border-radius:50%;
  top:-73px;
  margin:0 auto;
  margin-bottom:-73px;
}
.specials-bottom {
  padding-top:10px;
  padding-left:12.5px;
  padding-right:12.5px;
}
.specials-save {
  font-size:18px;
}
.price {
  font-size:84px;
  color:#FFF;
  font-weight:700;
  font-family:'Open Sans', sans-serif;
}
.dollar {
  font-size:36px;
  color:#FFF;
  top:-37.5px;
  font-family: 'Lato', sans-serif;
  position:relative;

}

.device-md .specials-row p, .device-sm .specials-row p, .device-xs .specials-row p, .device-xxs .specials-row p {
  margin-top:10px;
}

.device-sm .specials-row, .device-xs .specials-row, .device-xxs .specials-row {
  display:inherit;
}
.device-sm .section-specials .col-md-4, .device-xs .section-specials .col-md-4, .device-xxs .section-specials .col-md-4 {
  max-width:400px;
  margin:0 auto;
  margin-bottom:50px;
}

.device-xxs .section-specials h2 {
  font-size:44px;
}
.section-specials .col-xs-12 p {
  color:#CCA75D;
  font-size:32px;
  font-weight:700;
}

.device-xs #fall-specials h2, .device-xxs #fall-specials h2 {
  margin-bottom:20px;
}
.device-xs .section-specials .col-xs-12 p, .device-xxs .section-specials .col-xs-12 p {
  line-height:40px !important;
}